* {
    margin: 0;
    padding: 0;
}

h1 {
    font: bold 20px sans-serif
}

h2 {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
 }

header, section, footer, aside, nav, article {
    display:block
}

body {
    text-align: center;
    background: gray;
}

article{
    background: #fffbbc;
    border: 1px solid #999;
    padding: 20px;
    margin-bottom: 15px;
}

article footer {
    text-align: right;
    margin-top: 20px;
}

time {
    color: #999
}

img {
    width: 80px;
    display: block;
    margin: 20px auto;    
}

.agrupar {
    border: 1px solid black;
    width: 960px;
    margin: 15px auto;
    background: white;
}

.header {
    background: #fffbb9;
    border: 1px solid #999999;
    padding: 20px;
}
.header h1 {
    text-align: left;
}

.menu {
    background: #ccc;
    padding: 5px 15px;
    text-align: left;
}

.menu li{
    list-style: none;
    padding: 5px;
    font: bold 14px verdana;
    display: inline-block;
}

.seccion {
    margin: 20px;
    width: 600px;
    float: left;
}

.columna {
    margin: 20px 0;
    width: 300px;
    float: left;
}

.columna blockquote {
    border: 1px solid black;
    padding: 40px;
    background: #fffbb9;
    margin-bottom: 20px;

}

.pie {
    clear: both;
    padding: 20px;
    background: #2d3436;
    color: aliceblue
}